<header class="cabecera">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobre-mi">Sobre mi</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/portafolio-gmv">Portafolio</a></li>
                <li>
                <button  class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-lateral" aria-controls="menu-lateral">
                   &#9776; MENU
                </button>
                </li>
                
            </ul>
        </nav>
</header>
